body{

	background: url("../images/shattered.png");
	font-family: Arial;
}
body span{
	font-size: 14px;
}
.container{
	background-color:#FAEBD7;
	width: 80%;
	height: 80%;
	margin: 0 auto;
}
.content{
	padding: 30px;
    background-color: rgba(255,255,255, 0.7);
    width: 500px;
    height: 300px; 
    margin: 0 auto;
    margin-top: 7%;
    box-shadow: 0px 0px 10px #565656;
    border: 5px solid#fff;
    border-radius:5px;
    text-transform: uppercase;
    text-align: center;

}
.msg{
	width:100%;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 5px #aaa;
	padding: 20px 0px 20px 0px;
	margin-top: 10px;
}
.msg a{
	text-decoration: none;
	color: #333;
}
.table-pesquisa td a:hover{
	color:#000;
	text-shadow: 0px 0px 1px #000;
}
.table-pesquisa td{
	padding: 0px 3px 0px 5px;
}
.table-pesquisa{
	width: 100%;
}
.body-login{
	background: url("../images/konstruksi.jpg");
	
}
#table_login input{
	border: 1px solid#ccc;
}

.content table{
	/*padding:20px;*/
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.content table td{
	text-align: center;
	padding-top:10px;
}
.content table input{
	height:30px;

	padding: 3px;
	border: 0;
	background-color:rgba(255,255,255,0.5);
}
.content table input:hover{
	box-shadow: 0px 0px 10px #565656;
	background-color:rgba(255,255,255,1);
	transition: all 0.5s;
}
.botao_submit{
	width: 50px;
	border-radius:5px;
	cursor: pointer;
}

/********************************* BOX LOGIN ***************************************/
.box-login{
	border: 1px solid#ddd;
	border-radius:3px;
	float:right;
	background-color:rgba(255,255,255,0.5);
	padding:5px;
	box-shadow: 2px 2px 10px #aaa;	
}

.nome-box-login{
	float:left;
}
.nome-box-login{
	font-size:12px;
}
.nome-box-login span{
	color:#aaa;
	font-size:12px;
}
.nome-box-login a{
	text-decoration: none;
}

/********************************* MENU ***************************************/

.menu{
  	background: url("../images/footer_lodyas.png");
  	background-size: 200px;
  	/*box-shadow: 0px 0px 10px #aaa;*/
	border-radius:1px;	
}
.menu .menu-list{
  list-style: none;
}

.menu > .menu-list > li{
  float: left;
  position: relative;
/*  border-left: 1px solid#eee;*/
	border-right: 1px solid#565656;
}
.menu > .menu-list > li > a {
  padding: 10px;
  /*padding-top: 15px;*/
  
}
.menu > .menu-list > li:hover a {
  /*background-color:rgba(200,200,200,0.5);*/
}

/* Remove as bolinhas do lado das listas */
.menu .menu-list, .menu .sub-menu{
  list-style: none;

}
/* Configura todos os links do nosso menu */
.menu a, .menu a span{
  color: #eee;
  text-decoration: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  height:15px;

  /*letter-spacing:0.2em;*/
}
/* Faz os <li>s ficarem na horizontal */
.menu > .menu-list > li{
  float: left;
  position: relative;
}
/* Configura os links do menu principal */

/* Configura o fundo do menu principal quando com mouse hover */
.menu > .menu-list > li:hover a {
  background: #222;
  color:#eee;
}
/* Mostra o submenu no evento de mouse hover */
.menu > .menu-list > li:hover > .sub-menu {
  display: block;

}
/* Configura o estilo do submenu */
.menu > .menu-list > li > .sub-menu {
  position: absolute;
  margin-left: -40px;
  /*background-color:rgba(255,255,255,0.5);*/
  min-width: 200px;
  z-index: 1000;
  display: none;
}
/* Configura os links do submenu */
.menu > .menu-list > li > .sub-menu > li > a {
	padding: 10px 20px;
	font-size: 11px;
}
.menu > .menu-list > li > .sub-menu > li > a:hover {
	background-color: #333;
	transition: all 0.3s;
}

/* Clearfix para o menu */
.menu:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
h2{

	padding-top: 10px;
	font-size: 30;
	font-family: times;
	font-style: black;
}
.ad_func table{
	width: 100%;
}
.table_dados_pes{
	float:left;
	width:500px;
}
.title{
	font-size:15px;
}
.title-box{
	width: 100%;
	background: url("../images/footer_lodyas.png");
	background-size: 200px;
	color: #ddd;
	padding: 2px 5px 2px 5px;
	margin-left: -10px;
	
}
.formulario table{
	/*padding:20px;*/
	/*margin: 0 auto;*/
	/*width:100%;*/
	margin-top: 10px;

}
.formulario table td{
	/*text-align: center;*/
	padding-top:5px;

}

.formulario table input{
	height:30px;
	padding: 3px;
	border: 0;
	background-color:rgba(255,255,255,0.5);
}

.formulario table input:hover{
	/*box-shadow: 0px 0px 2px #565656;*/
	background-color:rgba(255,255,255,1);
	transition: all 0.5s;
}

.formulario textarea:hover{
	/*box-shadow: 0px 0px 10px #565656;*/
	background-color:rgba(255,255,255,1);
	transition: all 0.5s;
}
.formulario{
	padding:20px;
    box-shadow: 0px 0px 10px #aaa;
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	border: 1px solid#aaa;
	margin-bottom: 20px;
	width: 500px;
	text-align: center;
	background-color: rgba(100,100,100,0.2);
}
.formulario form input, .formulario form select{
	height: 25px;
	border: 1px solid#ccc;
	border-radius: 3px;
}

.button{
	background: url("../images/footer_lodyas.png");
	width: 100px;
	height: 25px;
	color:#ddd;
	border: 1px solid#bbb;
	border-radius: 3px;
	text-align: center;
	font-size:16px;
}
.button:hover{
	width: 100px;
	height: 25px;
	color:#ddd;
	border: 1px solid#bbb;
	border-radius: 3px;
	font-size:16px;
	cursor:pointer;
}
/*********************** BOX-ANIVERSARIANTES && BOX-ATRASOS*********************/

.box-aniversariantes, .box-atrasos{
	float:left;
	width: 260px;
	padding:10px; font-size:12px;
	box-shadow: 1.5px 1.5px 10px #888;
	background-color:rgba(255,255,255,0.6);
	border-radius:2px;
}
.box-aniversariantes{
	margin-top: 30px;
}
.table-aniversariantes{
	box-shadow: 1.5px 1.5px 10px #888;
	background-color:rgba(255,255,255,0.2);
	text-align:center;
	width:90%;
	margin: 0 auto;
	border-radius: 3px;
	padding: 10px;
	margin-top: 10px;

}
.table-aniversariantes a{
	text-decoration: none;
	color: #22f;
}

/*******************************************************************************/